<div class="container">
  <div class="row">
    <div>
      <h1 id="title">Upload a File</h1>
      <form name="fileUploadForm" ng-submit="uploadFile()">
        <div class="custom-file mb-3">
          <input type="file" ngf-select ng-model="file" name="file" id="file" class="custom-file-input" ng-class="{ 'has-error' : fileUploadForm.file.$error.required}" required>
        </div>
        <br>
        <input type="submit" value="Submit" class="btn btn-primary">
        <br><br>
      </form>
    </div>
  </div>
</div>

<div class="container"  ng-if="filesExist" id="file-display">
  <div class="row row-content">
    <hr>
      <div class="col-xs-4 col-sm-4 col-md-3" ng-repeat="doc in documents" id="row-list">
          <div class="frontside">
            <div class="card">
              <div class="card-body">
                <div class="col-sm-3">
                <a href="http://localhost:3000/files/download/{{doc.filename}}"><img class=" img-fluid" src="images/file-icon.png" alt="file icon"></a>
                </div>
                <div class="col-sm-9">
                <p></p>
                <p class="card-text" id='filename' style='text-overflow = ellipsis'>{{doc.filename}}</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
      </div>
      <hr>
  </div>
</div>
